.header__burger {
  background: none;
  border: none;
}
.burger {
  position: relative;
  width: 20px; 
  height: 20px;
  color: var(--color-text-primary);
}

.burger::before, .burger::after {
  content:'';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: currentColor;
  border-radius: 1px;
  transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
}

.burger::before {
  top: 4px;
  right: 0;
}

.burger::after {
  bottom: 4px;
  left: 0;
}

.burger__middle-line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--color-text-primary);
  border-radius: 1px;
  top: 50%;
  transform: translatey(-50%);
  transition: transform 0.2s 0.1s; 
}

.burger__middle-line::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-text-primary);
  border-radius: 1px;
  left:0;   
  transition: transform 0.2s 0.1s;
}

.burger:hover::before {
  opacity: 0;
  transform: translatex(50%);
  transition-delay: 0;
}

.burger:hover::after {
  opacity: 0;
  transform: translatex(-50%);
  transition-delay: 0;
}

.burger:hover .burger__middle-line {
  transform: translatey(-50%) rotate(-45deg);
}

.burger:hover .burger__middle-line::before {
  transform: rotate(-90deg);
}

.button {
  border-radius: 8px;
  border: 0;
  color: var(--color-button-text-primary);
  background-color: var(--color-button-primary);

  font-size: 14px;
  font-weight: bold;
  padding: 16px 40px;
  margin-bottom: 20px;
}

.link {
  font-family: sans-serif;
  text-decoration: none;
}

.link_type_primary {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-link-action);
}

.link_with-icon_right, .link_with-icon_left {
  display: inline-flex;
  align-items: center;
}

.link_with-icon_right .link__icon {
  margin-left: 6px;
}