section {
  max-width: 950px;
  margin: 0 auto;
}

.page {
  padding: 0;
  margin: 0;
}
.first-screen {
  padding: 0 var(--padding-side);
  padding-top: 1em;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.first-screen::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70%;
  background-color: var(--color-background-secondary);
  z-index: -1;
}
.first-screen::after {
  content: '';
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -30px;
  height: 1px;
  background-color: rgba(0,0,0,0.05);
  z-index: 3;
}
.first-screen__company {
  width: 100%;
  display: flex;
  z-index: 2;
}
.first-screen__logo img {
  width: 100%;
}

.second-screen {
  padding: 0 var(--padding-side);
  background-color: var(--color-background-default);
  position: relative;
  text-align: center;
}

.third-screen {
  padding: 0 var(--padding-side);
  background-color: var(--color-background-default);
  position: relative;
  text-align: center;
}

@media (min-width: 1200px) {
  .second-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .third-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .third-screen__cell:nth-child(1) {
    grid-row: span 1;
  }

  .third-screen__cell:nth-child(2) {
    grid-row: span 2;
    order: -1;
  }

  .third-screen__cell:nth-child(3) {
    grid-row: span 1;
  }
 
}
