.title {
  margin-bottom: 0;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.5em;

  color: var(--color-text-primary);
}
.subtitle {
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.5em;

  color: var(--color-text-primary);
}
.description {
  margin-bottom: 2em;
  font-size: 16px;
  font-family: sans-serif;  
  line-height: 1.5em;

  color: var(--color-text-secondary);
}